# Executibles
calculator/calculator
pacman_Game/pacman
pacman_Game/test
# Object files 
*.o
# Temp Files
*~
*.swp
# Dependency files
*.d
# Miscellaneous files
pacman_Game/roadmap.txt
#Test files
pacman_Game/test.c